@use '../scss/colors';

.light {
    .text{

        color: #101113;
        background-color: #1971c2;

    }
    .background {

        background-color: #1971c2;
    
    }
}
.dark {
    .text{

        color: #1971c2;
        background-color: #101113;

    }
    .background {

        background-color: #101113;
    
    }
}