/* keyfram for making load div disapear */
@keyframes faded {

    from { background-color: #ff2d2d;
            display: block; }
    to { background-color: blue; }
    to { background-color: yellow;}
    to { border: 5px solid blue;
        display: none; }

}
/*
@-webkit-keyframes missapear {

    from { opacity: 1;
        z-index: 999; }
    to { opacity: 0 }
    to { display: none;
        z-index: 0; }

}

-webkit-animation: missapear 3s;
-webkit-animation-fill-mode: forwards;
*/



.babLoad {
    
    position: fixed;
    display: block;
    border: 10px dashed black;
    background-color: #ff2d2d;
    height: 90%;
    width: 90%;
    animation: faded 3s;
    animation-fill-mode: forwards;

}



.babHome {
    padding:0.9rem 0.9rem;
    margin:40px;
    font-size:1rem;
    z-index: 2;

    border:solid 2px red;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
}
.babHome p:hover {

    border: 1px solid red;

}