@import url("https://fonts.googleapis.com/css?family=Patrick+Hand");


.home {
    justify-content: center;
    text-align: center;
    display: inline;
}
.btns {
    justify-content: center;
    text-align: center;
    background-color: white;

    padding:0.9rem 0.9rem;
    margin:40px;
    font-size:1rem;

    border:solid 2px #41403E;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
}
.out {
    padding: 20px;
    background-color: white;
}
.btns p {
    padding: 4px;
    width: fit-content;
    margin-left: 50%;

    background: #FFF;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid #000;

    font: normal 22px/25px "Patrick Hand", sans-serif;
    margin-right: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    transition: padding 0.1s, box-shadow 0.1s, top 0.1s; 
}
.btns a {
    text-decoration: none;
    background-color: transparent;
    font: normal 22px/25px "Patrick Hand", sans-serif;
    text-transform: uppercase;

}
#o1 p:hover {
    padding: 4px;
    width: fit-content;
    margin-left: 50%;

    background: #FFF;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 2px 0 #000, 3px 6px  #9773f5;
}
#o2 p:hover {
    padding: 4px;
    width: fit-content;
    margin-left: 50%;

    background: #FFF;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 2px 0 #000,3px 6px #ff2d2d;
}
#o3 p:hover {
    padding: 4px;
    width: fit-content;
    margin-left: 50%;

    background: #FFF;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 2px 0 #000, 3px 6px  #ffff1b;
}
#o4 p:hover {
    padding: 4px;
    width: fit-content;
    margin-left: 50%;

    background: #FFF;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 2px 0 #000, 3px 6px  #7ed8ff;
}
#o5 p:hover {
    padding: 4px;
    width: fit-content;
    margin-left: 50%;

    background: #FFF;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 2px 0 #000, 3px 6px #63ff6b;
}
#o6 p:hover {
    padding: 4px;
    width: fit-content;
    margin-left: 50%;

    background: #FFF;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 2px 0 #000, 3px 6px #250e0ecc;
}



/*
.btns {
    justify-content: center;
    border: 1px solid red;
    margin-left: 20%;
    margin-right: 20%;
    width: 37%;
    height: 400px;
    padding: 30px;
    background: #EEE;
    text-align: center;
}

.btns {
        background:transparent;
        padding:0.9rem 0.9rem;
        margin:0.5rem 0.5rem;
        font-size:1rem;

        width: 37%;
        height: 200px;
  
        border:solid 2px #41403E;
        border-top-left-radius: 255px 15px;
        border-top-right-radius: 15px 225px;
        border-bottom-right-radius: 225px 15px;
        border-bottom-left-radius:15px 255px;
  
}


body {
  padding: 4em;
  background: whitesmoke;
}
a span {
  background: #FFF;
  display: block;
  padding: 5px 15px;
  border-radius: 5px;
  border: 2px solid #000;
}
.btn1 :hover{
    box-shadow: 0 2px 0 #000, 0 2px 0px 2px #9773f5;
}
.btn2 :hover{
    box-shadow: 0 2px 0 #000, 0 2px 0px 2px #afff92;
}
.btn3 :hover{
    box-shadow: 0 2px 0 #000, 0 2px 0px 2px #3ec2fb;
}
.btn4 :hover{
    box-shadow: 0 2px 0 #000, 0 2px 0px 2px #fcff51;
}
.btn5 :hover{
    box-shadow: 0 2px 0 #000, 0 2px 0px 2px #f03755;
}


a:active {
  top: 4px;
  padding-bottom: 0px;
  box-shadow: 0 1px 0 rgb(29, 17, 17);
}

a {
    
  position: relative;
  float: left;
  font: normal 22px/25px "Patrick Hand", sans-serif;
  margin-right: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #000;
  transition: padding 0.1s, box-shadow 0.1s, top 0.1s;

}
*/
