.homepage {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
}
h1 {
    color:rgb(180, 179, 179)
}
.welcomebar {
    z-index: 9;
    display: inline;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    z-index: 9;
    background-color: #ffffff7d;
    border: 1px solid rgb(180, 179, 179);
    border-radius: 25px;
    -moz-border-radius: 15px;
    max-width: 80%;
}
.mainbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: transparent;
}
.mainbar h1 {
    background-color: transparent;
    
}
.prof {
    background-color: transparent;
    padding: 5px;
}
.prof p {
    background-color: transparent;
}
.listobj {
    background-color: transparent;
}
.invisible {
    display: none;
}
.homelist {
    background-color: transparent;
}
.slots {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #b4b3b3;
    border-radius: 25px;
    -moz-border-radius: 15px;
    background-color: #ffffff7d;
    overflow-x: scroll

}
.slots p {
    padding: 2rem;
    background-color: transparent;
    color: #999999;
}
.out {
    padding: 10px;
    background-color: transparent;
}
.svg img{
    position: fixed;
    bottom: 5%;
    left: 5%;
    height: 40%;
    width: 40%;
}
.svg1 img {
    padding: 3px;
    height: 20%;
    width: 20%;
    background-color: transparent;
}
.svg1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 1px solid #b4b3b3;
    border-radius: 25px;
    -moz-border-radius: 15px;
}
.homeicons {
    background-color: transparent;
}
.homeicons p {
    color: #999999;
    background-color: transparent;
}
.obj {
    display: inline;
    width: 200px;
}


::-webkit-scrollbar {
    width: 80%;
  } 
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
width: 80%;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #a2a2a27d; 
border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #ababab; 
}